

a{
    color: #3498db;
    text-decoration: none;
}

.list-departements a{
    transition: all 0.3s ease-in-out;
}

.list-departements a:hover{
    transform: translateY(-5px);
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow: auto;
    width: 100%;
}

.pagination ul li {
    list-style: none;
    margin: 0 5px;
    display: inline-block;
    width: fit-content;
}
